[submodule "third_party/uni-agent"]
	path = third_party/uni-agent
	url = git@github.com:verl-project/uni-agent.git
[submodule "third_party/verl"]
	path = third_party/verl
	url = git@github.com:verl-project/verl.git
[submodule "third_party/R2E-Gym"]
	path = third_party/R2E-Gym
	url = git@github.com:R2E-Gym/R2E-Gym.git
